{% extends 'admin_sidebar.html' %}
{% load static %}

    {% block main %}
    <div class="student-profile py-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="p-2 mb-0"> Student Details</h5>

                <div class="container-fluid">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Student Name</th>
                                <th>Roll No</th>
                                <th>Semester</th>
                                <th>Registration Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in student %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                
                                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                                <td>{{i.user.username}}</td>
                                <td>{{i.semester}}</td>
                                <td>{{i.regdate}}</td>
                                <td>
                                    <a href="{% url 'admin_viewstudetails' i.id %}">View Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}